/**
     * Copyright 2018, This file is part of Framework ARL.
     * 
     * Framework ARL is free software: you can redistribute it and/or modify
     * it under the terms of the GNU General Public License as published by
     * the Free Software Foundation, either version 3 of the License, or
     * (at your option) any later version.
     * 
     * Framework ARL is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU General Public License for more details.
     * 
     * You should have received a copy of the GNU General Public License
     * along with Framework ARL.  If not, see <https://www.gnu.org/licenses/>.
     * 
     * FRAMEWORK ARL
     * @author sebRL
     * @version 1.0
     * https://github.com/sebRL
    */

/*ERROR*/
.error{
	width: 100%;
	height: auto;
}
.error .close{
	float: right;
	margin-right: 20px;
	cursor: pointer;
	font-size: 1.1em;
}
.error .close:hover{
	color: black;
}
.error .closed{
	-webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
	opacity: 0;
}
.error div{
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
}
.danger{
	color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
}
.danger:hover{
        background-color: #f2dee6;
}
.info{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.info:hover{
        background-color: #d9edff;
}
.success{
	color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
}
.success:hover{
        background-color: #dff0e0;
}
.warning{
	color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
}
.warning:hover{
        background-color: #fcf8eb;
}